<html> 
  <head> 
    <title>Barcode Reader</title> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="../js/jquery-1.11.3.js" type="text/javascript"></script> 
    <script src="../js/quagga.js" type="text/javascript"></script>  
    <script src="../js/quagga.min.js" type="text/javascript"></script> 
    <script src="../js/BarcodeReader.js" type="text/javascript"></script> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0" /> 
  </head> 
  <body style="text-align: center;"> 
    <div id="result_strip"> 
      <ul class="thumbnails"></ul> 
      <ul class="collector"></ul> 
    </div> 
    <div id="interactive" class="viewport"></div> 
  </body> 
</html>